
.page-header {
  height: 200px;
}

.page-header__title {
  color: RGBA(244, 185, 228, 1);
  text-transform: capitalize;
  font-size: 3rem;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: center;
  margin: 1rem 0;
}

.display-winner {
 font-size: 3rem;
 font-family: sans-serif;
 font-weight: 500;
 color: $highlight;
 margin-top: 0;
 margin-bottom: 2rem;
 height: 30px;
}

@media (max-width: 600px) {
  .page-header__title {
    font-size: 2rem;
    padding: 0 5px;
  }

  .display-winner {
    font-size: 2rem;
  }
}
  