
.page-header {
  margin-top: 1rem;
}

.page-header__title {
  color: RGBA(244, 185, 228, 1);
  text-transform: capitalize;
  font-size: 3rem;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: center;
}