html {
  box-sizing: border-box;
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: $primary;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  
}

.page-main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  display: flex;
  width: 100%;
  max-width: 980px;
  align-items: center;
}

.page-header,
.page-footer {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}