html {
  box-sizing: border-box;
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: $primary;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.page-main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  display: flex;
  width: 100%;
  max-width: 980px;
  align-items: center;
  justify-content: space-around;
}

.page-header {
  flex-direction: column;
}

.page-header,
.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}