

.spin {
  transform: rotate(360deg) ; 
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) ;
}

.flip-z {
   transform: rotate3d(-1, 1, 1, 360deg);
   transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}


.blink {
    filter: brightness(10) drop-shadow(0px 5px 20px #fff);     
}

.glow {
  box-shadow: 0px 0px 40px 20px #fff;
  transition: box-shadow 200ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.square--blur {
  filter: blur(5px); 
}